@charset "utf-8";
<style type="text/css">
body {
	font: 100%/1.4 Verdana, Arial, Helvetica, sans-serif;
	/*Side Margin Color*/
	background-color: #044004;
	margin: 0;
	padding: 0;
	color: #000;
}
/* ~~ Element/tag selectors ~~ */
ul, ol, dl { 
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	
	padding-right: 15px;
	padding-left: 15px; 
}

a:link {
	color: #027304;
	text-decoration: underline; 
}
a:visited {
	color: #027304;
	text-decoration: underline;
}
a:hover, a:active, a:focus { 
	text-decoration: none;
	color: #05FF05;
}

.container {
	width: 950px;
	/*Content Color*/
	background-color: #0B090B;
	margin: 0 auto; 
}

header {
	background-color: #010A0D;
}




.content {
	width: 780px;
	padding-top: 10px;
	padding-right: 0;
	padding-bottom: -6px;
	padding-left: 0;
}

/* ~~ Side Bar Stuff - Very Complicated Do not Touch!!!! ~~*/
.sidebar1 {
	float: Right;
	width: 180px;
	
	background-color: #0B090B;
	padding-bottom: 0px;
	
}

ul.nav a:hover, ul.nav a:active, ul.nav a:focus{ /* this changes the background and text color for both mouse and keyboard navigators */
	
	color: #05FF05;
	
}
ul.nav {
	border-top: 3px solid #047304;
	list-style: none; 
	margin-bottom: 0px; 
	padding-bottom: 0px;
}
ul.nav li {
	border-bottom: 3px solid #047304;
	border-left: 3px solid #047304;
	border-right: 1px solid #047304;
	background-color: #0B090B;
	padding-bottom: 15px;
	padding-top: 15px;
	padding-left:15px;
	padding-right:15px;
}
ul.nav a, ul.nav a:visited { /
	padding: 5px 5px 5px 15px;
	display: block; 
	width: 160px; 
	text-decoration: underlined;
	color: #04A604;
	font-family:"Courier New", Courier, monospace;
	
}

.container .sidebar1 {
	padding-top: 25px;
	padding-bottom: 25px;
}


/* ~~ The footer ~~ */
footer {
	
	background-color: #0B0B0B;
	position: relative; 
	margin-top:0px;
	
}

/* ~~ Header and Banner ~~*/
header {
	background-color: #0B090B;
	background-image: url(Assets/crypto_banner.png);
	background-repeat: no-repeat;
	height: 130px;
	padding-bottom: 20px;
	
}

header, section, footer, aside, article, figure {
	display: block;
	/*Global Font Color*/
	color: #04A604;
	font-family:"Courier New", Courier, monospace;
	padding-top: 10px;
	padding-left:25px;
}

.container header p {
	background-color: #0B090B;
	
}
.container header nav p {
	color: #000;
	margin-top: 125px;
	
	
}
